body{
	background-color: yellow;
}

/*img{
	width: 100px;
	height: 25%;
	float: left;
	display: block;
	margin-top: 5px;
} */

img {
    float: left;
    width: 100px;
    height: 100px;
	display: block;
}
   /* margin: 0 0 10px 10px;
}
*/
.img-valign {
  vertical-align: left;
  margin-bottom: 0.75em;
} 

